.user-wrapper {
  padding: 50px 0;
}
.user-card {
  width: 20%;
  margin: 12px 6px;
  padding: 12px;
  border: 1px solid #eee;
}

.user-card_name {
  margin: 0 0 20px;
}

.search-form {
  width: 30%;
  margin: 0 auto 30px;
}

.pagination {
  list-style: none;
  justify-content: center;
  margin: 30px 0;
  gap: 12px;
}

.pagination .active, .pagination button:hover {
  background-color: var(--accent);
  color: #fff;
}

.pagination button {
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.header-wrapper {
  justify-content: space-between;
  align-items: center;
}

.gap-3 {
  gap: 12px;
}

.dark {
  background-color: #333;
  color: #fff;
}